* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url(../imagens/background6.png) repeat-x;
	margin: 20px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	
}


#container {
	width: 950px;
	margin: 0 auto;
}

#topo {
	height: 200px;
	
}

#conteudo_principal {
	height: 500px;
	
}


/*Barra horizontal */
#navegacao {
	margin-top: 100px;
	margin-left: 30px;
	float: left;
}

#navegacao li {
	float: left;
}

#navegacao a {
	padding: 10px;
	width: 90px;
	height: 20px;
	color: #000;
	font-size: 0.8em;
	text-indent: 20px;
	line-height: 24px;
	display: block;
	background: url(../imagens/menu6.png) no-repeat left bottom;
	
}

#navegacao a:hover {
	color: #fff;
	background: url(../imagens/menu6.png) no-repeat right bottom;
}

body.home_git #navegacao a#home_git,
body.home_linux #navegacao a#home_linux,
body.home_html #navegacao a#home_html,
body.home_css #navegacao a#home_css,
body.home_bootstrap #navegacao a#bootstrap,
body.home_javascript #navegacao a#home_javascript,
body.home_python #navegacao a#home_python,
body.home_php #navegacao a#home_php {
	color: #fff;
	cursor: text;
	background: url(../imagens/menu6.png) no-repeat right bottom;
}

/* Barra navegação vertical */
#barra_navegacao ul a {
	width: 200px;
	height: 40px;
	color: #000;
	font-size: 0.8em;
	text-indent: 40px;
	line-height: 40px;
	display: block;
	background: url(../imagens/menu.png) no-repeat left bottom;
}

#barra_navegacao {
	width: 300px;
	float: right;
}

#barra_navegacao ul a:hover {
	background-position: right bottom; 
	color: #fff;

}

#barra_navegacao ul.home a#home,
#barra_navegacao ul.cabecalhos a#cabecalhos,
#barra_navegacao ul.paragrafos a#paragrafos,
#barra_navegacao ul.formatacoes a#formatacoes,
#barra_navegacao ul.listas_ordenadas a#listas_ordenadas,
#barra_navegacao ul.listas_nao_ordenadas a#listas_nao_ordenadas,
#barra_navegacao ul.imagens a#imagens,
#barra_navegacao ul.links a#links,
#barra_navegacao ul.tabelas a#tabelas,
#barra_navegacao ul.formularios a#formularios,
#barra_navegacao ul.caracteres a#caracteres	{
	background: url(../imagens/menu.png) no-repeat right bottom;
	color: #fff;
	cursor: text;
}

#conteudo {
	width: 550px;
	margin-right: 70px;
	float: right;
}

#rodape {
	width: 890px;
	margin: 0 auto;
	height: 60px;
	color: #000;
	font-size: 0.8em;
	text-indent: 30px;
	line-height: 60px;
	clear: both;
	background: url(../imagens/rodape.png);
}